<% include layouts/top %>

<form action="/createProduct" method="POST" class="product-create-form">
    <label>Name</label><input type="text" name="productname"></input>
    <label>Price</label><input type="text" name="productprice"></input>
    <label>Category</label><input type="text" name="productcategory"></input>
    <input type="submit" value="submit"></input>
</form>

<header><h1 class="product-header">Product list</h1></header>
<table class="product-table">
    <tr class="product-head">
        <th>Product name</th>
        <th>Product price</th>
        <th>Product category</th>
    </tr>
    <%products.forEach(product=>{%>
    <tr class="product-item">
        <td>
            <%=product.name%>
        </td>
        <td>
            <%=product.price%>
        </td>
        <td>
            <%=product.category%>
        </td>            
    </tr>
    <%});%>
</table>

<% include layouts/bottom %>