<% include layouts/header %>

    <header class="jumbotron">
        <%if(errorMessage){%>
            <h1 style="text-align:center;color:red;font-weight:700">
                <%=errorMessage%>
            </h1>
            <%}else{%>
                <h1 style="text-align:center;color:red;font-weight:700">OOPS!Some error has occured when performing your action</h1>
            <%}%>
            <a href="/campgrounds" class="btn btn-primary btn-lg" style="display:table;margin:0 auto;">View all campgrounds</a>
    </header>

    <% include layouts/footer %>