<% include layouts/header %>
    <link rel="stylesheet" href="/css/new.css">
    <h1 style="text-align:center;">Adding new campground</h1>
    <div id="details-block">
        <div id="camp-form">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input class="form-control" name="campName" type="text" placeholder="Name" required></input>
                </div>
                <div class="form-group">
                    <input class="form-control" name="campLocation" type="text" placeholder="Location" required></input>
                </div>
                <div class="form-group">
                    <input class="form-control" name="campImage" type="text" placeholder="Image URL"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" name="campDescription" type="text" placeholder="Description"></input>
                </div>
                <div class="form-group">
                    <input class="form-control" name="campPrice" type="text" placeholder="Price"></input>
                </div>
                <div class="form-group button-block">
                    <button id="camp-submit-button" class="btn btn-primary">Submit</button>
                    <a class="btn btn-warning" href="javascript:history.back()">Cancel</a>
                </div>
            </form>
        </div>
        <div id="map-block">
            <div id="map"></div>
        </div>
    </div>
    <script src="/js/new.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=MAP_API_KEY%>&libraries=places&callback=initMap" async defer></script>
    <% include layouts/footer %>