<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Search movies</title>
	<link href="https://fonts.googleapis.com/css?family=Kavivanar" rel="stylesheet">
	<link rel="stylesheet" href="/common.css"></link>
</head>
<body>
    <header class="top-header"><h1>Movies searcher</h1></header>
    <input type="text" name="search-box"></input><button class="search-btn">Search</button>
    <div class="result"></div>
</body>
<script src="common.js"></script>
</html>