<% include layouts/header %>

<p><h1 class="page-header"><%=result.name%></h1></p>
<img class="img-responsive" src="<%=result.image%>" alt="<%=result.name%>" width="460" height="345"> 
<p><%=result.description%></p>

<% include layouts/footer %>