<!DOCTYPE html>
<html lang="en" style="width:100%;height:100%;>
<head>
    <meta charset="UTF-8">
	<title>Blog app</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" />
	<link rel="stylesheet" href="/style/app.css"></link>
</head>
<body>
    <div class="ui top fixed menu inverted">
        <div class="ui container">
            <div class="header item"><i class="write square icon brand"></i>Blog App</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New post</a>
        </div>
    </div>
    <!--Since the menu is a fixed element we must clear the space 'behind' the menubar -->
    <!--so that the elements are added to the page after the menu-->
    <div class="space-clear"></div>
    