.product-header{
    text-align:center;
    background-color:gray;
    font-weight:700;
    height:40px;
    line-height:40px;
}
.product-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.product-item td, .product-head th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.product-table tr:nth-child(even) {
    background-color: #dddddd;
}
.product-create-form{
    display:flex;
    align-items:center;
    justify-content:center;
}
.product-create-form > * {
    flex:1;
    display:flex;
    align-items:center;
    justify-content:center;
}
.product-create-form input[type='submit']{
    width:50%;
}