<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Express-EJS demo</title>
	<!--The path of external files should be from the root directory with '/'-->
	<!--With out the slash, the app.css will be search in whichever directory this template is included-->
	<link rel="stylesheet" href="/app.css"></link>
</head>
<body>